@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.icononofill {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}
.iconofill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

#gps {
    width: 100%;
    height: 100%;
    border: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    background: #ffe333;
}

.full {
    margin: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.full td {
    padding: 0;
    margin: 0;
}

.full table {
    overflow: hidden;
}

div.nav {
    margin: 25px 65px 25px 65px;
    padding: 4px;
    overflow: hidden;
    background-color: #ffcb05;
    box-shadow: #ffcb05 0 0 5px;
    border-radius: 12px;
    box-sizing: border-box;
}

div.nav > a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 12px;
    font-size: 95%;
    text-decoration: none;
    border-radius: 12px;
    background-color: #ffcb05;
    cursor: pointer;
    display: inline-block;
}

div.nav > a:hover {
    background-color: #d9b024;
}

div.nav > a.logolink {
    padding: 4px 8px;
}

div.nav > a.logolink > img {
    height: 24px;
}
.naviactions {
    float: right !important;
}


#tabla tr:hover {
    background-color: rgb(215,215,255);
}

#tabla th {
    background-color: rgb(215,215,255);
}

#tabla {
    background-color: #ccf;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.tabentry {
    text-decoration: none;
    color: inherit;
    display: block;
}

.piframe {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 300px;
    border: none;
}

.transp {
    background: none transparent;
}

.box {
    margin: 25px 65px 25px 65px;
    padding: 4px;
    background-color: #bbd;
    border-radius: 12px;
    box-shadow: #bbc 0 0 5px;
}

.aud {
    height: 24pt;
    vertical-align: middle;
    border-radius: 5px;
}
.playtable {
    border-collapse: collapse;
    border: none;
    margin: 0;
    padding: 0;
}
.cov {
    height: 26pt;
    vertical-align: middle;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.marqtrack {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}

input, .input{
    border: none;
    background-color: #3663ad;
    border-radius: 8px;
    box-shadow: #3663ad 0 0 5px;
    margin: 2px;
    font-family: inherit;
    font-size: inherit;
    color: white;
    padding: 9px 12px;
}
a.input {
    text-decoration: none;
    color: inherit;
    cursor: default;
    display: inline-block;
    margin: 2px;
}
input[type=text] {
    outline: none;
    width: 500px;
    max-width: 70%;
}
input[type=button]:hover {
    background-color: #557dca;
}
input[type=button]:active {
    background-color: #4363a1;
}
input::placeholder {
    color: #bbb;
}
.center {
    text-align: center;
}

.content {
    margin: 10px;
}

.margin {
    margin: 30px;
}
.wide1 {
    width: 90%;
}
.info {
    background-image: url(info_FILL0_wght400_GRAD200_opsz48.svg);
    background-repeat: no-repeat;
    border: none;
    background-position: 15px center;
    background-color: rgb(225,225,255);
    border-radius: 12px;
    box-shadow: rgb(225,225,255) 0 0 5px;
    padding: 20px 75px;
    margin: 25px 55px 25px 55px;
    font-family: inherit;
    font-size: 150%;
    font-weight: 500;
    text-align: left;
}
.badge {
    border: none;
    background-color: rgb(255,255,205);
    border-radius: 5px;
    padding: 3px 5px;
    font-family: inherit;
    display: inline-block;
    font-size: 50%;
    vertical-align: middle;
}
.popup {
    background-color: rgb(220,220,255);
    border-radius: 12px;
    box-shadow: rgb(220,220,255) 0 0 5px;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}
.popup2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 50px 40px 10px;
    box-sizing: border-box;
}
.error {
    background-image: url(error_FILL0_wght400_GRAD200_opsz48.svg);
    background-repeat: no-repeat;
    border: none;
    background-position: 15px center;
    background-color: rgb(255,210,200);
    border-radius: 12px;
    box-shadow: rgb(255,210,200) 0 0 5px;
    padding: 20px 75px;
    margin: 25px 55px 25px 55px;
    font-family: inherit;
    font-size: 150%;
    font-weight: 500;
    text-align: left;
}
.errorbox {
    font-size: 100%;
    font-weight: normal;
}


.welcome {font-size: 200%;font-weight: 600;}

a.bigbutton {
    background-repeat: no-repeat;
    border: none;
    background-position: 15px center;
    background-color: rgb(210,210,255);
    border-radius: 12px;
    box-shadow: rgb(210,210,255) 0 0 5px;
    padding: 20px 75px;
    margin: 10px;
    font-family: inherit;
    text-align: left;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    max-width: 400px;
}

span.large {
    font-size: 150%;
    font-weight: 500;
    display: block;
}

a.bigbutton:hover {
    background-color: rgb(220,220,255);
}
.pokebutton {
    cursor: pointer;
}
div.pokebutton {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffcb05;
    box-shadow: #efbf08 0 0 5px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    margin: 6px;
    font-family: inherit;
    text-align: left;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    vertical-align: bottom;
    width: 140px;
    max-width: 140px;
}
div.pokebutton:hover {
    background-color: #d9b024;
}
span.pokename {
    font-size: 18px;
    float: left;
}
button.pokefav {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    float: right;
    cursor: pointer;
}
.pokeimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    filter: drop-shadow(2px 2px 5px #ac8c1d);
}
#searchstatus {
    font-weight: bold;
}
#results {
    margin: 0px 20px;
}
#pokedetails {
    background-color: #ffcb05;
    box-shadow: #b6930e 0 0 10px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-family: inherit;
    text-align: left;
    text-decoration: none;
    color: inherit;
    width: 70%;
    max-width: 400px;
    outline: none;
}
#pokedetails::backdrop {
    backdrop-filter: blur(8px);
}
#pokedetailsdialog table {
    width: 100%;
    border-collapse: collapse;
}
#pokedetailsdialog td {
    border-bottom: 2px solid black;
    padding: 5px;
}
#pokedetailsdialog img {
    padding: 5px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 2px 5px #ac8c1d);
}
#pokedetailsdialog h2 {
    text-transform: capitalize;
    text-align: center;
    margin: 10px;
    filter: drop-shadow(0px 0px 12px #ac8c1d);
}
.detactions {
    position: absolute;
    right: 10px;
    top: 10px;
}
.detactions button {
    float: initial;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.poketype {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: #ac8c1d 0 0 5px;
    border: #ac8c1d solid 2px;
    margin: 4px;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 9px 12px;
    text-transform: capitalize;
}
.pokeabil {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: #ac8c1d 0 0 5px;
    border: #ac8c1d solid 2px;
    margin: 4px;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 9px 12px;
    text-transform: capitalize;
}
#closedetails {
    float: right;
}
#favdetails {
    float: right;
}
